* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

header {
	background: linear-gradient(to bottom right, #3d7dca, #003a70);
	padding: 5rem;
	margin-bottom: 5rem;
	color: #ffcb05;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

.pokedex {
	display: grid;
	margin: auto;
	width: 75vw;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	margin-bottom: 5rem;
}

.pokecard {
	text-align: center;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
	border-radius: 15px;
	padding: 4rem 1rem;}
	
	.name {
		text-transform: uppercase;
		margin-bottom: 2rem;
	}
	
	.exp {
		margin-top: 2rem;
	}
